.albumImage{
    width: 80%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; /*placement above */
}

.albumImage img{
    border-radius:30px;
    width: 100%;
    aspect-ratio: 1; /* making image as square */

}

.albumImage-shadow{
    -webkit-filter : blur(5px);
    filter : blur(5px);
    /* glassy shadow above */
    width: 90%;
    position: absolute;
    z-index: -1; /* placement below */
    top: 20px;

}
