.queue-container{
    width: 100%;
    height: 35%;
    border-radius: 30px; 
    border-top-right-radius: 0px;

    background-color: #a9a90e;
	opacity: 1;
	background-image: repeating-radial-gradient(
			circle at 0 0,
			transparent 0,
			#a9a90e 40px
		),
		repeating-linear-gradient(#acfabd55, #acfabd);

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.queue{
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.upNext{
    font-size: 20px;
    font-weight: 700;
    color:  #2d2d06;
    margin: 10px 0;
}

.queue-list{
    height: 80%;
    overflow: auto;
    width: 100%;

}
.queue-list::-webkit-scrollbar{
    display:none;
}
.queue-item{
    justify-content: space-between;
    width: 100%;
    padding: 5px 0px;
    font-size: 15px;
    font-weight: 800;
    color: #2d2d06;
    cursor: pointer;
    transition: all 0.2s ease;
}

.queue-item:hover{
    transform: sacle(0.9);
}

.queue-item .p{
    margin: 0px;

}
.track-name{

    width:85%;
    text-overflow: ellipsis;
}